[submodule "GitHub Pages"]
	path = public
	url = https://github.com/markuspg/markuspg.github.io.git
	branch = master
[submodule "themes/paper_mod"]
	path = themes/paper_mod
	url = https://github.com/adityatelange/hugo-PaperMod.git
