[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "GitHub Pages"]
	path = public
	url = https://github.com/markuspg/markuspg.github.io.git
	branch = master
